<!-- 敷金精算書の内容 -->
<% @adjustment = Adjustment.where(user_id:current_user.id).last %>
<% @adjustments = @adjustment.datails  %>
<!-- 取引内容 -->
<% @transactions = Transaction.where(user_id:current_user.id).last %>
<!-- 合計の情報 -->
<% adjustment_number = current_user.adjustments.ids.last %>
<% @cost_amount = Adjustment.find_by(id: adjustment_number).datails.sum(:cost) %>

<h2>　　　　　　　　　　　　　　敷金返還請求書</h2>
<h2>平成〇〇年〇〇月〇〇日</h2>
<h2><%= @transactions.rent_name %>　殿</h2>
<h2><%= @transactions.destination %></h2>

<h2>
　私（<%= @transactions.user_name %>）は、<%= @transactions.contact_date %>に下記物件について貴殿か
ら賃借するための賃貸借契約書を締結しました。敷金は、<%= @transactions.deposit_amount %>円を差し入れています。
</h2>
<h2>
この契約は、解約し、同建物の明け
渡しは、<%= @transactions.return_date %>日に既に完了しました。ついては、本契約に基づき、
貴殿に預けている敷金の<%= @cost_amount %>円を本状到着後<%= @transactions.deadline %>日
以内に返還してください。
（ 私名義〇〇銀行〇〇支店普通口座 × × × × × × へ、振り
込んでください。）
</h2>
<h2>改正民法621条で「通常の使用及び収益によって生じた賃借物の損耗並びに賃借物の経年変化」（以下「通常損耗等」）が原状回復義務の範囲から明確に除外されています。</h2>
<h2>「原状回復をめぐるガイドライン」では、家賃滞納や
故意・過失による汚損・毀損を除いて敷金は返還するこ
とになっています。
なお、同日までに振り込みがない場合は、法的手続きを
考えています。
</h2>
</h2>
<h2>
敷金精算書の金額は次のようになっていました。
</h2>
<table>
  <tr>
    <th>工事の項目名</th>
    <th>金額</th>
    <th colspan="3"></th>
  </tr>
  <% @adjustments.each do |adjust| %>
  <tr>
    <td class="task_row"><%= adjust.item %></td>
    <td class="task_row"><%= adjust.cost %></td>
  </tr>
<% end %>
</table>
<h4>合計金額　<%= @cost_amount %>円</h4>
<h2>
しかし、前述の通り、通常損耗、負担範囲、経年劣化を考えても次の金額を下回りません。
</h2>
<%= @transactions.rent_name %>
<table>
  <tr>
    <th>工事の項目名</th>
    <th>金額</th>
    <th colspan="3"></th>
  </tr>
  <% @adjustments.each do |adjust| %>
  <tr>
    <td class="task_row"><%= adjust.item %></td>
    <td class="task_row"><%= adjust.cost %></td>
  </tr>
<% end %>
</table>
<h2>以上、ご対応の程、よろしくお願いします</h2>

<h2>　　　　　　　　　　　　　　　　　記</h2>
<h2>　　　　　　　　　　　　　　　物件の表示</h2>
<h2><%= @transactions.rent_adress %></h2>
<h2>　　　　　　　　　　　　　　　通知人の表示</h2>
<h2>通知人　<%= @transactions.user_name %></h2>
<h2><%= @transactions.user_adress %></h2>

<% params[:debug].present? ? image_tag('foo') : wicked_pdf_image_tag('foo') %>
