<h1>PDFダウンロードテスト</h1>
<h2>PDFダウンロードテスト</h2>
<h3>PDFダウンロードテスト</h3>
<h2>　　　　　　　　　　　　　　敷金返還請求書</h2>
<h2>
　私は、平成〇〇年〇月〇日に下記物件について貴殿か
ら賃借するための賃貸借契約書を締結しました。
</h2>
<h2>
この契約は、平成○ ○ 年 ○ 月 ○ 日限りで解約し、同建物の明け
渡しも既に完了しました。ついては、本契約に基づき、
貴殿に預けている敷金の〇〇万〇千円を本状到着後○ 日
以内に返還してください。
（ 私名義〇〇銀行〇〇支店普通口座 × × × × × × へ、振り
込んでください。）
</h2>
<h2>「原状回復をめぐ るガイドライン」では、家賃滞納や
故意・過失による汚損・毀損を除いて敷金は返還するこ
とになっています。
なお、同日までに振り込みがない場合は、法的手続きを
考えています。
</h2>
<h2>記
物件の表示
○ ○ 区 ○ ○ 町 ○ 丁目○ 番 ○ ○ 号
○ ○ ○ マンション○ ○ ○ 号 室
平成〇〇年〇〇月〇〇日
通知人 〇〇区〇〇町〇丁目○ 番 ○ ○ 号
氏名○ ○ ○ ○ 印
披通知人 〇〇区〇〇町〇丁目○ 番 ○ ○ 号
○ ○ ○ ○ 殿
</h2>
<% @adjustment = Adjustment.where(user_id:current_user.id).last %>
<%= @adjustments = @adjustment.datails  %>
<h2>
敷金精算書の金額は次のようになっていました。
</h2>
<table>
  <tr>
    <th>工事の項目名</th>
    <th>金額</th>
    <th colspan="3"></th>
  </tr>
  <% @adjustments.each do |adjust| %>
  <tr>
    <td class="task_row"><%= adjust.item %></td>
    <td class="task_row"><%= adjust.cost %></td>
  </tr>
<% end %>
</table>
<h2>
しかし、前述の通り、通常損耗、負担範囲、経年劣化を考えても次の金額を下回りません。
</h2>
<table>
  <tr>
    <th>工事の項目名</th>
    <th>金額</th>
    <th colspan="3"></th>
  </tr>
  <% @adjustments.each do |adjust| %>
  <tr>
    <td class="task_row"><%= adjust.item %></td>
    <td class="task_row"><%= adjust.cost %></td>
  </tr>
<% end %>
</table>
<h2>以上、ご対応の程、よろしくお願いします</h2>
