<h1>Log in</h1>
<% if session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(session.errors.count, "つのエラー") %> が発生しました :</h2>
    <ul>
    <% session.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>
