<p id="notice"><%= notice %></p>
<h3>本サイトは、敷金返還の通知書を作っていくサービスになります</h3>
<!-- <div class="fusen1"><%= link_to "さっそく使ってみる", explain1_path %></div> -->
<div class="fusen1"><a><%= link_to "はじめる", new_user_path %></a></div>
<div class="top_image">
  <!-- <p>敷金</p> -->
  <!-- <%= image_tag 'green.jpg', class: 'mypage_image' %> -->
  <!-- <%= image_tag 'top.png', class: 'mypage_tape_image' %> -->
  <%= image_tag 'top.png', class: 'mypage_image' %>
  <!-- <%= image_tag 'top.png', size: "700x300" %> -->
</div>
