<div id="A">
  </div>
  <p id="notice"><%= notice %></p>
  <h3>本サイトは、敷金返還の通知書を作っていくサービスになります</h3>
  <!-- <div class="fusen1"><%= link_to "さっそく使ってみる", explain1_path %></div> -->
  <a><%= link_to "はじめる", new_user_path, class: 'btn common_btn btn_shadow_dark' %></a></div>
  <div class="top_image">
    <!-- <p>敷金</p> -->
    <!-- <%= image_tag 'green.jpg', class: 'mypage_image' %> -->
    <!-- <%= image_tag 'top.png', class: 'mypage_tape_image' %> -->
    <%= image_tag 'top.jpg', class: 'mypage_image' %>
    <!-- <%= image_tag 'top.png', size: "700x300" %> -->
  </div>
</div>
<h1>　</h1>
<h4>　</h4>
