<div>
  <%= link_to '次へ', next_wizard_path %>
</div>
<div>
  <%= link_to '戻る', previous_wizard_path %>
</div>

<%= form_with(model: @adjustment, local: true ) do |form| %>

<table class="table">
  <thead>
    <tr>
      <th width="30px">No.</th>
      <th>工事等の項目名</th>
      <th>負担範囲反映後の金額</th>
      <th>設備の名前</th>
      <th>耐用年数</th>
      <th>経過年数</th>
      <th>借りた当初の価値</th>
      <th>負担割合</th>
      <th>経年劣化反映後の金額</th>
    </tr>
  </thead>
  <% i = 0 %>
    <%= form.fields_for :datails do |datail| %>
    <% i += 1 %>
      <tr>
        <td>
          <div class="estate_form">
            <%= i %>
          </div>
        </td>
        <td>
          <%= datail.text_field :item %>
        </div>
      </td>
      <td>
        <div class="estate_form">
          <%= datail.text_field :burden_cost %>
        </div>
      </td>
      <td>
        <div class="estate_form">
          <%= datail.text_field :equipment_name %>
        </div>
      </td>
      <td>
        <div class="estate_form">
          <%= datail.text_field :service_year %>
        </div>
      </td>
      <td>
        <div class="estate_form">
          <%= datail.text_field :rent_year %>
        </div>
      </td>
      <td>
        <div class="estate_form">
          <%= datail.text_field :first_value %>
        </div>
      </td>
      <td>
        <div class="estate_form">
          <%= datail.text_field :de_burden_percentage %>
        </div>
      </td>
      <td>
        <div class="estate_form">
          <%= datail.text_field :degradation_cost %>
        </div>
      </td>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
