
<div id="B">
  <h5 id="sidetitle">敷金返還請求　　　　　文書作成</h5>
  <h5>　Sign up</h5>
  <h5>　文書作成の説明</h5>
  <h5>　取引内容の入力</h5>
  <h5>　敷金精算書の入力</h5>
  <h5>　通常損耗のチェック</h5>
  <h5>　負担範囲のチェック</h5>
  <h5 id="now">　経年劣化のチェック</h5>
  <h5>　敷金返還額の確認画面</h5>
  <h5>　文書のダウンロード</h5>
  <h5 id="question">よくある質問（Q&A）</h5>
 </div>
</div>

<div id="C">
  <%= image_tag 'year.png', size: "800x400"%>
  <%= link_to '次へ', next_wizard_path %>
  <div>
    <%= link_to '戻る', previous_wizard_path %>
  </div>
  <div class="fusen5">
    「前のstep反映後金額」に値が入っているものだけ、経年劣化を考えてみよう
  </div>
  <div class="fusen5">
    「経過年数」は、基本的に、あなたの入居年数となるよ。また、耐用年数などの具体例は下を見てね（後に記載予定）
  </div>
  <div class="fusen5">
    「経年劣化」を取り入れる場合は、次の計算をして、「金額（反映後）」に入れてね。そうでない場合は、「前のstep反映後金額」と「金額（反映後）」を同じ金額にしてね。
  </div>
  <div class="fusen5">
    「金額（反映後）」=「前のstep反映後金額」÷「耐用年数」✖️（耐用年数　-　経過年数）✖️借りた当初の価値（例.80%など）
  </div>
  <div class="fusen5">
    入力したり値を更新した場合は、「update」ボタンを押してから「次へ」を押さないと更新されないよ
  </div>
  <%= form_with(model: @adjustment, local: true ) do |form| %>
  <table class="table">
    <thead>
      <tr>
        <th width="30px">No.</th>
        <th>工事等の項目名</th>
        <th>前のstep反映後金額</th>
        <th>設備の名前</th>
        <th>耐用年数</th>
        <th>経過年数</th>
        <th>借りた当初の価値</th>
        <!-- <th>負担割合</th> -->
        <th>金額（反映後）</th>
      </tr>
    </thead>
    <% i = 0 %>
      <%= form.fields_for :datails do |datail| %>
      <% i += 1 %>
        <tr>
          <td>
            <div class="estate_form">
              <%= i %>
            </div>
          </td>
          <td>
            <%= datail.text_field :item %>
          </td>
        <td>
          <div class="estate_form">
            <%= datail.text_field :burden_cost %>
          </div>
        </td>
        <td>
          <div class="estate_form">
            <%= datail.text_field :equipment_name, placeholder: "クロス" %>
          </div>
        </td>
        <td>
          <div class="estate_form">
            <%= datail.text_field :service_year, placeholder: 6 %>
          </div>
        </td>
        <td>
          <div class="estate_form">
            <%= datail.text_field :rent_year, placeholder: 3 %>
          </div>
        </td>
        <td>
          <div class="estate_form">
            <%= datail.text_field :first_value, placeholder: 1 %>
          </div>
        </td>
        <!-- <td>
          <div class="estate_form">
            <%= datail.text_field :de_burden_percentage %>
          </div>
        </td> -->
        <td>
          <div class="estate_form">
            <%= datail.text_field :degradation_cost %>
          </div>
        </td>
      <% end %>
      <div class="actions">
        <%= form.submit %>
    <% end %>
    </div>
  </table>
</div>
