<p id="notice"><%= notice %></p>
<h1>管理者画面</h1>
<h4><%= link_to '[下記のuserを削除する]', admin_user_path(@user.id), method: :delete %></h4>

<h4>プロフィールは次のとおりです</h4>
<p>名前：<%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>

<h1>タスク一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>タスク名</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
    <th colspan="3"></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td class="task_row"><%= task.name %></td>
      <td class="task_row"><%= task.content %></td>
      <td class="task_expired"><%= task.expired_at %></td>
      <td class="form-control"><%= task.status %></td>
      <td class="task_priority"><%= task[:priority] %></td>
    </tr>
  <% end %>
</table>
