<div id="B">
  <h5 id="sidetitle">敷金返還請求　　　　　文書作成</h5>
  <div id="ok_mark"></div>
  <h5>　Sign up</h5>
  <div id="ok_mark"></div>
  <h5>　文書作成の説明</h5>
  <div id="now_mark"></div>
  <h5 id="now">　取引内容の入力</h5>
  <h5 id="future">　敷金精算書の入力</h5>
  <h5 id="future">　通常損耗のチェック</h5>
  <h5 id="future">　負担範囲のチェック</h5>
  <h5 id="future">　経年劣化のチェック</h5>
  <h5 id="future">　敷金返還額の確認画面</h5>
  <h5 id="future">　文書のダウンロード</h5>
  <h5 id="question">よくある質問</h5>
 </div>
</div>

<div id="C">
<h3>取引情報の記入</h3>
<h4>まずは前提となる取引内容を記入していきましょう</h4>

<%= form_with(model: @transaction, local: true) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "個のエラー") %> が発生して登録できません:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :あなたの名前 %>
    <%= form.text_field :user_name, placeholder:"敷金太郎" %>
  </div>
  <div class="field">
    <%= form.label :あなたの住所 %>
    <%= form.text_field :user_adress, placeholder:"東京都江戸川区〜" %>
  </div>
  <div class="field">
    <%= form.label :賃貸借契約の契約日 %>
    <%= form.date_field :contacts_date %>
  </div>
  <div class="field">
    <%= form.label :賃貸借契約の物件の住所 %>
    <%= form.text_field :rent_adress, placeholder:"東京都渋谷区〜" %>
  </div>
  <div class="field">
    <%= form.label :賃貸人（オーナー）の氏名 %>
    <%= form.text_field :rent_name, placeholder:"大家次郎" %>
  </div>
  <div class="field">
    <%= form.label :敷金の金額 %>
    <%= form.text_field :deposit_amount, placeholder:150000 %>
  </div>
  <div class="field">
    <%= form.label :返還済みの敷金の金額 %>
    <%= form.text_field :return_deposit, placeholder:30000 %>
  </div>
  <div class="field">
    <%= form.label :明け渡し日 %>
    <%= form.date_field :returns_date %>
  </div>
  <div class="field">
    <%= form.label :作成した文書の送付先住所 %>
    <%= form.text_field :destination, placeholder:"東京都渋谷区〜" %>
  </div>
  <div class="field">
    <%= form.label :敷金返還期限（何日後） %>
    <%= form.text_field :deadline, placeholder: 12 %>
  </div>
  <div class="field">
    <%= form.label :通知書を送付する予定日 %>
    <%= form.date_field :make_date %>
  </div>
  <div class="new_order_form_submit">
    <%= form.submit "登録（次へ）", class: 'btn common_btn btn_shadow_dark' %>
  </div>
    <div class="fusen3"><%= link_to "戻る", explain2_path %></div>
<% end %>
</div>
