<p id="notice"><h4> notice </h4></p>

  <h4> user.id </h4>
  <h4> <%= @transaction.user_id %></h4>

  <h4> 賃貸借契約の契約日 </h4>
  <h4> <%= @transaction.contact_date %></h4>

  <h4> 賃貸借契約の物件の住所 </h4>
  <h4> <%= @transaction.rent_adress %></h4>

  <h4> 賃貸人（オーナー）の氏名 </h4>
  <h4> <%= @transaction.rent_name %></h4>

  <h4> 敷金の金額 </h4>
  <h4> <%= @transaction.deposit_amount %></h4>

  <h4> 明け渡し日 </h4>
  <h4> <%= @transaction.return_date %></h4>

  <h4> 作成した文書の送付先住所 </h4>
  <h4> <%= @transaction.destination %></h4>

  <h4> 敷金（残額）の返還を求める期限 </h4>
  <h4> <%= @transaction.deadline %></h4>
