<div id="B">
  <h5 id="sidetitle">敷金返還請求　　　　　文書作成</h5>
  <div id="ok_mark"></div>
  <h5>　Sign up</h5>
  <div id="ok_mark"></div>
  <h5>　文書作成の説明</h5>
  <div id="ok_mark"></div>
  <h5>　取引内容の入力</h5>
  <div id="now_mark"></div>
  <h5 id="now">　敷金精算書の入力</h5>
  <h5 id="future">　通常損耗のチェック</h5>
  <h5 id="future">　負担範囲のチェック</h5>
  <h5 id="future">　経年劣化のチェック</h5>
  <h5 id="future">　敷金返還額の確認画面</h5>
  <h5 id="future">　文書のダウンロード</h5>
  <h5 id="question">よくある質問</h5>
 </div>
</div>

<div id="C">
  <div  class="side">
  <h4>次に、敷金精算書の内容を入力していきましょう</h4>
  <h4>敷金精算書の項目ごとに工事等の名前と金額だけ入力しよう</h4>
  <h5>あとで明細書の画像等整える</h5>
  <div>
    <%= form_with(model: @adjustment, local: true ) do |form| %>
      <% if @adjustment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@adjustment.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @adjustment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <table class="table">
      <thead>
        <tr>
          <th width="30px">No.</th>
          <th>工事等の項目名</th>
          <th>金額</th>
        </tr>
      </thead>
      <% i = 0 %>
        <%= form.fields_for :datails do |datail| %>
        <% i += 1 %>
          <tr>
            <td>
              <div class="estate_form">
                <%= i %>
              </div>
            </td>
            <td>
              <%= datail.text_field :item, placeholder:"壁のクロス張替" %>
            </div>
          </td>
          <td>
            <div class="estate_form">
              <%= datail.text_field :cost, placeholder:24000 %>
            </div>
          </td>
        <% end %>
      </table>
    </div>
        <div class="actions">
          <%= form.submit "登録（次へ）" %>
        </div>
        <div class="fusen3"><%= link_to "戻る", edit_transaction_path(@transaction.id) %></div>
      <% end %>
</div>

  <div class="side">
    <!-- <%= image_tag 'left.png', size: "50x50" %> -->
  </div>
  <div class="">
    <%= image_tag 'meisai.png', size: "200x250" %>
  </div>
  <div class="image1">
    <%= image_tag 'explain2.png', size: "500x250"%>
  </div>
</div>

<!-- <div id="D">
  <%= image_tag 'left.png', size: "70x70"%>
  <%= image_tag 'meisai.png', size: "300x300"%>
</div> -->
