
<%= form_with(model: @adjustment, local: true) do |form| %>
  <% if @adjustment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :工事等の項目名 %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :金額 %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :カテゴリー %>
    <%= form.select :category, {'1.床（畳、フローリング、カーペットなど）': '1.床（畳、フローリング、カーペットなど）', '2.壁、天井': '2.壁、天井', '3.建具等、襖（ふすま）、天井': '3.建具等、襖（ふすま）、柱等', '4.その他': '4.その他'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>

  <div class="field">
    <%= form.label :cost_amount %>
    <%= form.text_field :cost_amount %>
  </div>

  <% i = 0 %>
  <%= form.fields_for :datails do |datail| %>
  <% i += 1 %>
    <h4>No.<%= i %></h4>
    <div class="estate_form">
    <%= datail.label :工事等の項目名 %>
    <%= datail.text_field :item %>
    </div>
    <div class="estate_form">
    <%= datail.label :金額 %>
    <%= datail.text_field :cost %>
    </div>
    <div class="estate_form">
    <%= datail.label :カテゴリー %>
    <%= datail.text_field :category %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
