<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div id="B">
  <h5 id="sidetitle">敷金返還請求　　　　　文書作成</h5>
  <div id="ok_mark"></div>
  <h5>　Sign up</h5>
  <div id="ok_mark"></div>
  <h5>　文書作成の説明</h5>
  <div id="ok_mark"></div>
  <h5>　取引内容の入力</h5>
  <div id="ok_mark"></div>
  <h5>　敷金精算書の入力</h5>
  <div id="now_mark"></div>
  <h5 id="now">　通常損耗チェック</h5>
  <h5 id="future">　負担範囲チェック</h5>
  <h5 id="future">　経年劣化チェック</h5>
  <h5 id="future">　確認画面</h5>
  <h5 id="future">　文書ダウンロード</h5>
  <h5 id="question">よくある質問</h5>
 </div>
</div>

<div id="C">
  <%= image_tag 'damage.jpg', size: "700x300"%>
  <h5>通常損耗とそうじゃない具体例は、下の検索機能でみれるよ</h5>
  <h5>工事の原因が「通常損耗」と思った場合は、「金額（反映後）」を0円にしてね。</h5>
  <h5>「金額（反映後）」を0円にした場合は、「通常損耗に該当する理由」を入れてね。<div class="red_font">入力画面にマウスを置いて下を押すとサジェストされるよ</div></h5>
  <div>
  <h5>それ以外の場合は、「金額」と「金額（反映後）」を同じ金額にしてね。</h5>

    <%= form_with(model: @adjustment, local: true ) do |form| %>
    <%= hidden_field_tag :second, "true" %>
    <table class="table">
      <thead>
        <tr>
          <th width="30px">No.</th>
          <th>工事等の項目名</th>
          <th>金額</th>
          <th>工事費を負担しない理由</th>
          <th>金額（反映後）</th>
        </tr>
      </thead>
      <% i = 0 %>
        <%= form.fields_for :datails do |datail| %>
        <% i += 1 %>
          <tr>
            <td>
              <div class="estate_form">
                <%= i %>
              </div>
            </td>
            <td>
              <%= datail.text_field :item %>
            </div>
          </td>
          <td>
            <div class="estate_form">
              <%= datail.text_field :cost %>
            </div>
          </td>
          <!-- <td> <div class="estate_form"> <%= form.select :category, {'1.床（畳、フローリング、カーペットなど）': '1.床（畳、フローリング、カーペットなど）', '2.壁、天井': '2.壁、天井', '3.建具等、襖（ふすま）、天井': '3.建具等、襖（ふすま）、柱等', '4.その他': '4.その他'}, { include_blank: '選択してください'}, { class: 'form-control' ,
          required: true } %> </div> </td> -->
          <td>
            <div class="estate_form">
              <%= datail.text_field :damage_reason, class: :reasonname %>
            </div>
          </td>
          <td>
            <div class="estate_form">
              <%= datail.text_field :damage_cost %>
            </div>
          </td>
        <% end %>
      </table>
    </div>
        <div class="new_order_form_submit">
          <%= form.submit "登録（次へ　）", class: 'btn common_btn btn_shadow_dark' %>
        </div>
        <div class="new_order_form_submit"><%= link_to '前のステップへ', edit_adjustment_path(@adjustment.id), class: 'btn common_btn btn_shadow_dark'  %></div>
      <% end %>

  <div>
    <div id="now_mark"></div>
      <% if params[:search].present? %>
        <div id="now2">表示中のカテゴリー：<%= @samples.last.category %></div>
      <% else %>
        <div id="now2">表示中のカテゴリー：1.床（畳、フローリング、カーペットなど）</div>
      <% end %>
    <%= form_with( model: @damages, method: :get, local: true ) do |form| %>
    <div class="content">
      <div class="select"><%= form.select :search, {'1.床（畳、フローリング、カーペットなど）': '1.床（畳、フローリング、カーペットなど）', '2.壁、天井': '2.壁、天井', '3.建具等、襖（ふすま）、天井': '3.建具等、襖（ふすま）、柱等', '4.その他': '4.その他'}, { include_blank: 'カテゴリーを選択してください'}, { class: 'form-control' } %>
    </div>
    <div class="new_order_form_submit2">
      <%= form.submit '検索', name: nil, class: 'btn common_btn btn_shadow_dark'%>
    </div>
      <% end %>
  </div>
  <div>
    <table class="box3">
      <div class="fusen6">① 負担しなくてよい場合</div>
      <tr>
        <th><div class="title">具体例</div></th>
        <th><div class="title">考え方</div></th>
        <th colspan="3"></th>
      </tr>
      <% @usual_samples.each do |usual_sample| %>
        <tr>
          <td class="example box_line1"><%= usual_sample.content %></td>
          <td class="example box_line1"><%= usual_sample.reason %></td>
        </tr>
      <% end %>
    </table>
    <table class="box4">
      <div class="fusen7">② 負担する場合</div>
      <tr>
        <div>
          <th><div class="title">具体例</div></th>
          <th><div class="title">考え方</div></th>
          <th colspan="3"></th>
        </div>
      </tr>
      <% @unusual_samples.each do |unusual_sample| %>
        <tr>
          <td class="task_row box_line2"><%= unusual_sample.content %></td>
          <td class="task_row box_line2"><%= unusual_sample.reason %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
