<p id="notice"><%= notice %></p>

<h4>[user_id]</h4>
<h4><%= @adjustment.user_id %></h4>
<h4>[item]</h4>
<h4><%= @adjustment.item %></h4>
<h4>[cost]</h4>
<h4><%= @adjustment.cost %></h4>
<h4>[category]</h4>
<h4><%= @adjustment.category %></h4>
<h4>[cost_amount]</h4>
<h4><%= @adjustment.cost_amount %></h4>
