<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">admin</h2>
    <ul class="channel_list">
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      <%= link_to "敷金精算書の入力", new_adjustment_path %>
      <%= link_to "取引内容の入力", new_transaction_path %>
      <%= link_to "敷金精算書のindex", adjustments_path %>
      <%= link_to "PDFの書面", pdf_download_path %>
      <%= link_to "具体例のインポート（管理者用）", samples_path %>
    </ul>
  </div>
</div>
